body {
    background-color:#292929;
    align-items: center;
    height: 100%;
}

header {
    color: #E8001E;
    text-align: center;
    font-size: 42px;
    font-family: fantasy;
}

h1{
    color: black;
}

h2{
    text-align: center;

}

h6{
    font-size: 18px;
}

#whowins{
    color: lime;
}

#steps{
    color: yellow;
}

.left {
    background-color: lightgreen;
    position: absolute;
    left: 0px;
    width: 49.5%;
    height: 76%
}
  
.right {
    background-color:lightgreen;
    position: absolute;
    right: 0px;
    width: 49.5%;
    height: 76%
    
}

#backofcard1, #backofcard2 {
    height: 250px;
    width: 190px
}

#cardsize{
    height: 250px;
    width: 190px
}

#comphead {
    float: right;
    display: inline-grid;
    margin-right: 30px;
    margin-top: 120px
}

#playerhead {
    float: left;
    display: inline-grid;
    margin-left: 30px;
    margin-top: 120px;
}

.PcardImage{
    text-align: center;
    margin-top: 150px;
    float: right;
    margin-right: 120px;
}
.CcardImage{
    text-align: center;
    margin-top: 150px;
    float: left;
    margin-left: 120px;
}

#compScore{
    color: crimson;
    margin-top: 30px;
    margin-left: 407px;
}

#playerScore{
    color: crimson;
    margin-top: 30px;
    margin-left: 30px;
}

#PlayerDeckCount{
    margin-left: 30px;
    margin-right: 400px;
    margin-top: 410px;
}

#CompDeckCount{
    margin-top: 428px;
    margin-left: 407px;
}

.pokeball{
    margin-top: 13%;
    margin-left: 40%;
    height: 250px;
    width: 250px;
    transform: rotate(90deg);
}
button{
    margin-bottom: 8px;
    background-color: red;
    height: 20px;
    border-radius: 10%;
    font-size: 14px;
    color: black;
    border: red;
    font-weight: bold;
    outline: none;
}




/* .ashFace {
    display: none;
    background-size: contain;
    margin-top: 13%;
    margin-left: 40%;;
    height: 50px;
    width: 50px;

}

.ashFace.happy {
    display: inline-block;
    background-color: red;
    background-image: url();
}

.ashFace.sad {
    display: inline-block;
    background-color: blue;
    background-image: url();
} */