body {
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}

.left {
    background-color: lightgreen;
    position: absolute;
    left: 0px;
    width: 49.5%;
    height: 100%
}
  
.right {
    background-color:lightgreen;
    position: absolute;
    right: 0px;
    width: 49.5%;
    height: 100%
    
}

.circle {
    position: absolute;
    z-index: 15;
    top: 29%;
    background-color: red;
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    margin-left: 33%;
    margin-right: 33%;
    outline-style: solid;
    outline-color: black; 
    
    
}


#backofcard {
    height: 250px;
    width: 190px
}

#comphead {
    float: right;

}

#player {
    float: left;
}