body {
    background-color:#292929;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}

header {
    color: lime;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}

h1{
    color: black;
}

h2{
    text-align: center;

}

#whowins{
    color: lime;
}

#steps{
    color: orangered;
}

.left {
    background-color: lightgreen;
    position: absolute;
    left: 0px;
    width: 49.5%;
    height: 80%
}
  
.right {
    background-color:lightgreen;
    position: absolute;
    right: 0px;
    width: 49.5%;
    height: 80%
    
}




#backofcard1, #backofcard2 {
    height: 250px;
    width: 190px
}

#cardsize{
    height: 250px;
    width: 190px
}

#comphead {
    float: right;
    display: inline-grid;
    margin-right: 30px;
    margin-top: 120px
}

#playerhead {
    float: left;
    display: inline-grid;
    margin-left: 30px;
    margin-top: 120px;
}

.PcardImage{
    text-align: center;
    margin-top: 200px;
    float: right;
    margin-right: 120px;
}
.CcardImage{
    text-align: center;
    margin-top: 200px;
    float: left;
    margin-left: 120px;
}

#compScore{
    margin-top: 400px;
    margin-left: 500px;
}

#playerScore{
    margin-top: 400px;
    margin-right: 400px;
}

.pokeball{
    margin-top: 15%;
    margin-left: 40%;;
    height: 250px;
    width: 250px;
    transform: rotate(90deg);
    
}
